

                
                <div class="detail-view-content">
                    
   <div class="thin-tabset customers-search-tab search-results-tab ng-isolate-scope">
  <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
            <li ng-class="{active: active, disabled: disabled}" class="disabled ng-isolate-scope active" style="">
  <a href="" ng-click="select()" uib-tab-heading-transclude="" class="ng-binding"><tab-heading class="ng-scope">
                    <div>All</div>
                </tab-heading></a>
</li>
            <li ng-class="{active: active, disabled: disabled}" active="true" class="ng-isolate-scope" style="">
  <a href="" ng-click="select()" uib-tab-heading-transclude="" class="ng-binding"><tab-heading class="ng-scope">
                    <div>Customers</div>
                </tab-heading></a>
</li>
            <li ng-class="{active: active, disabled: disabled}" class="ng-isolate-scope" style="">
  <a href="" ng-click="select()" uib-tab-heading-transclude="" class="ng-binding"><tab-heading class="ng-scope">
                    <div>Inventory</div>
                </tab-heading></a>
</li>
        </ul>
  <div class="tab-content">
   
  </div>
</div>
    


                </div>
