<form name="paymentForm" ng-controller="mainController">
<div class="panel">
<div class="panel-heading">
<div class="panel-title">Add Transaction</div>
 </div>
<div class="panel-body">
  <div class="row">
    <div class="col-lg-4 col-md-6 form-group">
    <label>Category</label>
     <select ng-model="category" class="form-control" ng-options="category as category.name for category in categories track by category._id" ng-change="getSubCategory()"></select>
  </div>
  <div class="col-lg-4 col-md-6 form-group">
    <label>Sub-Category</label>
    <select ng-model="subcategory" class="form-control" ng-options="subcategory as subcategory.name for subcategory in subcategories track by subcategory._id"></select>
  </div></div>
  <div class="row">
	  <div class="col-lg-4 col-md-6 form-group">
	    <label>Payments</label>
	    <select ng-model="paymentType" class="form-control" ng-options="payment as payment.type for payment in paymentTypes track by payment._id">
	    </select>
	  </div>
	  <div class="col-lg-4 col-md-6 form-group">
	    <label>Amount in Rs.</label>
	   	<input type="text" class="form-control"  ng-model="amount">
	  </div>
  </div>
  <div class="row">
	  <div class="col-lg-4 col-md-6 form-group">
	    <label>Additional Notes</label>
	    <!-- <textarea ng-model="notes" class="form-control"></textarea> -->
	    <input type="text" name="note" class="form-control" ng-model="note">
	  </div>
	  <div class="col-lg-4 col-md-6 form-group">
	    <label>Transaction date</label>
	   <input type="text" ng-model="transactionDate" class="form-control">
	  </div>
  </div>
  <div class="row">
  		<div class="col-lg-6 col-md-6 form-group">
  			<input type="submit" class="btn btn-primary" value="Save" ng-click="savePayment()">
  		</div>
  </div>	
  </div>
  </div>
  </form>